* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}

header {
    background-color: #aaa;
    display: flex;
    justify-content: center;
    height: 70px;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.formInput {
    padding: 10px;
    font-size: 2rem;
    border-radius: 20px;
    border: none;
}

.new-btn {
    background-color: green;
    color: white;
    font-size: 1.5rem;
    width: 100px;
    height: 60px;
    border: 2px solid darkgreen;
    border-radius: 20px;
}

.new-btn:hover {
    background-color: lightgreen;
    color: black;
}

.del-btn {
    background-color: red;
    color: white;
}

section {
    height: auto;
    width: 100vw;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
    grid-template-rows:  repeat(auto-fill, auto-fill);
    padding: 20px;
}

.todo-card {
    display: flex;
    gap: 10px;
    border: 2px solid darkgreen;
    border-radius: 20px;
    background-color: white;
    width: auto;
    height: inherit;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

footer {
    padding-top: 20px;
    height: 50px;
    text-align: center;
}