* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}

header {
    background-color: #aaa;
}

.new-btn {
    background-color: green;
    color: white;
    width: 100px;
    height: 100px;
    border: 2px solid darkgreen;
}

.new-btn:hover {
    background-color: lightgreen;
    color: black;
}

section {
    height: auto;
    width: 100vw;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
    grid-template-rows:  repeat(auto-fill, auto-fill);
    padding: 20px;
}

.todo-card {
    border: 2px solid blue;
    border-radius: 20px;
    background-color: white;
    width: auto;
    height: inherit;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

footer {
    padding-top: 20px;
    height: 50px;
    text-align: center;
}